








#panorama {
    width: 90vw;
    height: 90vh;
}

#controls {
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    width: 100%;
    padding-bottom: 3px;
}

.ctrl {
    z-index: 99;
    padding: 8px 5px;
    display: inline-block;
    cursor: pointer;
}





div.myModal span {
    z-index: 100;
    visibility: hidden;
    position: absolute;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    text-align: center;
    max-width: 200px;
    padding: 5px 10px;
    margin-left: -220px;
    cursor: default;
}

div.myModal:hover span {
    visibility: visible;
    z-index: 100;

}

div.myModal:hover span:after {
    z-index: 100;

    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    bottom: -20px;
    left: -10px;
    margin: 0 50%;
}




.currentGifDiv{
    background-size: cover;
}